TSS_HOME_ADDRESS="./tss-api/data"
TSS_LOG_ADDRESS="./tss-api/logs"
TSS_LOG_LEVEL="info"
TSS_LOG_MAX_SIZE=1
TSS_LOG_MAX_BACKUPS=30
TSS_LOG_MAX_AGE=90
TSS_OPERATION_TIMEOUT=300
TSS_MESSAGE_TIMEOUT=30
TSS_LEAST_PROCESS_REMAINING_TIME=40
TSS_SETUP_BROADCAST_INTERVAL=10
TSS_SIGN_START_TIME_TRACKER=1
TSS_TURN_DURATION=60
TSS_WAIT_IN_PARTY_MESSAGE_HANDLING=100
TSS_WRITE_MSG_RETRY_TIME=1000
